<div class="questionData">

    <div class="questionGuide">
        <button>Anterior</button>
        <p>Pregunta 30</p>
        <button>Siguiente</button>
    </div>

    <div class="questionInfo">
        <div class="image" style="background-image: url({{questionImgUrl}})" ></div>
        <div class="questionText">
            <p class="questionParagraph">{{questionParagraph}}</p>
            <p class="question"><b>{{question}}</b></p>
        </div>
    </div>

    <div id="divisorLine"></div>

    <div class="responses">

        <div class="responseSection">
            <input type="radio" name="response">
            <span>et facilisis est consectetur</span>
        </div>
        <div class="responseSection">
            <input type="radio" name="response">
            <span>placerat tincidunt leo</span>
        </div>
        <div class="responseSection">
            <input type="radio" name="response">
            <span>est consectetur eget</span>
        </div>
        <div class="responseSection">
            <input type="radio" name="response">
            <span>ornare risus quis nisl imperdiet</span>
        </div>
        <div class="responseSection">
            <input type="radio" name="response">
            <span>ipsum dolor sit amet</span>
        </div>

    </div>

</div>